- flash.each do |key, value|
  .alert.alert-dismissible.fade.show{ class: flash_class(key), role: "alert" }
    = raw value
    %button.close{ type: "button", "data-dismiss": "alert", "aria-label": "Close" }
      %span{ "aria-hidden": "true"}
        &times;
